extends layout.pug

block content
    h1
        a.home-link(href='/books') Books
    .menu
        p.menu-item
            a.button(href='/books/new') Create New Book
        form.menu-item#the-form(action='/books' method='get')
            label.search(for='search')
                input#search(placeholder='Search' name='q' value='' + query ? query : '')
                button(type='submit') 🔍
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in allBooks
                tr
                    td
                        a(href='/books/' + book.id)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year
    if numeration
        .pagination
            ul.link-list
                each pageNumber in numeration
                    if !page
                        if pageNumber == 1
                            li
                                button.active(type='submit' name='page' value='' + pageNumber form='the-form')= pageNumber
                        else
                            li
                                button(type='submit' name='page' value='' + pageNumber form='the-form')= pageNumber
                    else 
                        if page == pageNumber
                            li
                                button.active(type='submit' name='page' value='' + pageNumber form='the-form')= pageNumber
                        else
                            li
                                button(type='submit' name='page' value='' + pageNumber form='the-form')= pageNumber